.landing {
	position: relative;
	background: url('https://tinder.com/static/build/744fe6d80266616aba687006b7d764ad.webp') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.landing-inner {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
align-items: center;
	text-align: center;
}

.landing-inner form {
	width: 30%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
	color: white;
}

/* Post title */
.post-title {
	margin-bottom: 0.5rem;
}

/* Navbar */
.vertical-nav {
    min-width: 19rem;
    width: 19rem;
    /* height: 100vh; */
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

  .page-content {
	width: calc(100% - 19rem);
	margin-left: 19rem;
	transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  /* #sidebar.active {
	margin-left: -17rem;
  }
  
  #content.active {
	width: 100%;
	margin: 0;
  }
  
  @media (max-width: 768px) {
	#sidebar {
	  margin-left: -17rem;
	}
	#sidebar.active {
	  margin-left: 0;
	}
	#content {
	  width: 100%;
	  margin: 0;
	}
	#content.active {
	  margin-left: 17rem;
	  width: calc(100% - 17rem);
	}
  } */
  
  body {
	/* background: #599fd9; */
	/* background: -webkit-linear-gradient(to right, #599fd9, #c2e59c); */
	color: #000000;
	background: linear-gradient(to right, #599fd9, #c2e59c);
	min-height: 100vh;
	overflow-x: hidden;
  }
  
  .separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
	letter-spacing: 0.1em;
  }
  
  .text-gray {
	color: #000000;
  }
/* Tạo scrollba */
  .isMatch {
	height: 63vh;
    overflow: auto;
	overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
/* Ẩn scrollba */
  .isMatch::-webkit-scrollbar { 
	width: 0 !important;
	display: none; 
  }